<div class="scheduler_form">
  <%= f.label :frequency %>
  <%= f.select :frequency, frequency_options, {}, :class => 'scheduler-frequency' %>

  <div id="scheduler-options">
    <div id="scheduler-frequency-0">
      <%= t 'scheduler.frequency.one_off.form.message' %>
    </div>
  
    <div id="scheduler-frequency-1">
      Comming soon..
    </div>

    <div id="scheduler-frequency-2">
      <span id="scheduler-weekly-week">
      <%= raw t('scheduler.frequency.weekly.form.every_week',
                :form_field => f.number_field(:interval, :size => 1)) %>
      </span>

      <div id="scheduler-weekly-days">
        <% 7.times do |d| %>
          <%= check_box_tag "#{ f.object_name }[week_days][]",
                            d,
                            f.object.week_days.include?(d),
                            :id => "event_week_days_#{ d }" %>
          <span><%= I18n.l Date.today.beginning_of_week + d, :format => "%a" %></span>
        <% end %>
      </div>
    </div>

    <div id="scheduler-frequency-3">
       <%= raw t('scheduler.frequency.monthly.form.week_day',
                 :order_field => f.select(:week_day_order, week_day_order_options),
                 :week_field  => f.select(:week_day, week_day_options),
                 :interval_field => f.number_field(:interval, :size => 1))
       %>
    </div>
</div>
